/* @import 'bootstrap/dist/css/bootstrap.min.css'; */

body {
    font-family: Poppins;
    background-color: #E7E5E4;
}

  .main-principal {
    background-color: #FFFFFF;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center; 
    /* margin-left: 100px; */
}   

.h1 {
    font-size: 32px;
    line-height: 120%;
    font-weight: bold;
}

.h3 {
    font-size: 20px;
    line-height: 120%;
    font-weight: bold;
}

.border-dashed {
    border-style: dashed !important;
 
}
.file-upload-area {
    cursor: pointer;
}
.image-ilustracao{
    background-color: blue;
    margin-left: 50px;

}

/* style para seção trilhas */

/* .trilhas{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: left;
    justify-content: left;

} */

