/* @import 'bootstrap/dist/css/bootstrap.min.css'; */

body {
    font-family: Poppins;
    background-color: #E7E5E4;
    width: 100%;
    display: flex;
}

.main-principal {
    background-color: #FFFFFF;
    display: flex;
    position: relative;
    overflow: hidden;
    height: 100vh;
}

.section-principal{
    overflow-y: auto;
    overflow-x: hidden;
    padding: 100px;
}

.h1 {
    font-size: 32px;
    line-height: 120%;
    font-weight: bold;
}

.h3 {
    font-size: 20px;
    line-height: 120%;
    font-weight: bold;
}

.border-dashed {
    border-style: dashed !important;
}

.file-upload-area {
    cursor: pointer;
}

.image-ilustracao {
    background-color: blue;
    display: flex;
    justify-content: center;
    width: 900px;
    flex-direction: column;  
    align-items: center;  
}

.ilustracao{
    width: 400px;
    height: 400px;
}

.logo-trilhas{
    width: 200px;
}
@media (max-width: 450px) {
    .image-ilustracao {
        display: none;
    }

    .section-principal{
        padding: 50px;
    }
}